.authContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.authPic {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}
.authPic img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.formContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    align-items: center;
}