.registrationContainer {
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 20px;
}
.registrationTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.registrationTitle p {
    font-size: 3rem;
    font-weight: 600;
    font-family: "Cormorant Garamond", serif;
}
.registrationSubtitle {
    padding: 0 20px;
}
.registrationSubtitle p {
    font-size: 1rem;
    color: gray;
    line-height: 30px;
    font-weight: 400;
}
.registrationForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .15);
    padding: 30px;
}
.formTitle {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.formTitle p {
    font-size: 1.7rem;
    font-weight: 600;
    font-family: "Cormorant Garamond", serif;
}
.formSubtitle p {
    font-size: .875rem;
    color: gray;
    line-height: 30px;
    font-weight: 400;
}
.registrationForm input {
    height: 20px;
    border-bottom: 1px solid lightgray;
    font-size: .875rem;
    padding: 10px;
}