.breadcrumbs {
    list-style: none;
    padding: 0;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.breadcrumbItem {
    margin-right: 10px;
    font-size: .875rem;
}
.breadcrumbItem span {
    color: gray;
    cursor: pointer;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
.breadcrumbItem span:hover {
    color: #0d85dc;
}
.breadcrumbItem:not(:last-child)::after {
    content: "/";
    margin-left: 10px;
}