footer {
    width: 100%;
    padding: 80px;
    background-color: #fff5e8;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
footer .footerRights {
    font-size: .875rem;
    font-weight: 500;
    color: gray;
}
footer .footerLinks {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
footer .footerLinks .footerNav {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer .footerLinks .footerNav a {
    font-size: .875rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s ease;
}
footer .footerLinks .footerNav a:hover {
    color: #8B4513;
}
footer .footerLinks .footerSocials {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
footer .footerLinks .footerSocials .footerIcon {
    cursor: pointer;
    transition: all .2s ease;
}
footer .footerLinks .footerSocials .footerIcon:hover {
    color: #8B4513;
}
.footerDivider {
    border-left: 1px solid lightgray;
}