.headerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
}
.fixedHeaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    position: relative;
}

.headerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: var(--wrapper-width);
    width: 100%;
    height: 100%;
    padding-top: 20px;
}
.fixedHeaderContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    max-width: var(--wrapper-width);
    width: 100%;
    height: 100%;
    padding: 20px 0;
}



.logoContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.logoImg {
    width: 75px;
    height: 75px;
    background-color: #0d85dc;
}
.logoName {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.logoName h3 {
    font-weight: 700;
}
.logoName p {
    font-size: .875rem;
    font-weight: 500;
    color: #2e2f3880;
}



.headerNav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: .875rem;
    color: #2e2f3880;
    margin-left: 60px;
}
.headerNav a {
    cursor: pointer;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid transparent;
    padding: 5px 20px;
    transition: all .2s ease-in-out;
}
.headerNav a:hover {
    border: 1px solid #0d85dc;
    color: #0d85dc;
}



.headerPhone {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}



.fixedHeaderSearchBar {
    width: 100%;
    position: relative;
}
.fixedHeaderSearchBar input {
    outline: none;
    background-color: #0050e01a;
    border: 1px solid transparent;
    width: 100%;
    height: 35px;
    padding: 5px 20px;
    border-radius: 50px;
    font-size: .875rem;
    transition: all .2s ease-in-out;
}
.fixedHeaderSearchBar input::placeholder{
    color: #0d85dc;
}
.fixedHeaderSearchBar input:hover,
.fixedHeaderSearchBar input:focus,
.fixedHeaderSearchBar input:valid {
    background-color: transparent;
    border: 1px solid #0d85dc;
    color: #0d85dc;
}
.sreachBarOptions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
.fixedHeaderOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.fixedHeaderCartQuantity {
    background-color: #f94d80;
    padding: 3px 20px;
    border-radius: 50px;
    color: white;
}