* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
.pageWrapper {
	margin: 0 auto;
}
.contentWrapper {
    margin: 0 auto;
    max-width: 1440px;
}



button {
    height: 40px;
    padding: 0 30px;
    border-radius: 100px;
    background-color: #8B4513;
    color: white;
    font-size: .875rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s ease;
}
button:hover {
    background-color: #6e3710;
}
button.outline {
    height: 40px;
    border: 2px solid #8B4513;
    border-radius: 100px;
    background-color: transparent;
    padding: 0 30px;
    color: #8B4513;
    font-weight: 500;
    cursor: pointer;
    transition: all .2s ease;
}
button.outline:hover {
    border: 2px solid #6e3710;
    background-color: #6e3710;
    color: white;
}
button.configure {
    height: 60px;
    padding: 0 40px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
    background: transparent;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s ease;
}
button.configure span {
    font-size: 1.25rem;
    margin-left: 5px;
}
button.configure:hover {
    background-color: #e8ceaf;
}
button.configureItem {
    border-radius: 5px;
    padding: 0 20px;
    background-color: #d1a87d;
    color: black;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    transition: all .4s ease;
}
button.configureSelected {
    background-color: #6e3710;
    color: white;
}
button.configureItem:hover {
    background-color: #b1885d;
}
button.transparent {
    border-radius: 0;
    height: auto;
    padding: 0;
    background-color: transparent;
    color: black;
    cursor: pointer;
    transition: all .2s ease;
}
button.transparent .icon {
    fill: rgb(185, 3, 3);
    transition: all .2s ease;
    transform: scale(.8);
}
button.transparent:hover .icon {
    fill: rgb(153, 2, 2);
}
button.link {
    border-radius: 0;
    border: 1px solid transparent;
    height: auto;
    padding: 0;
    background-color: transparent;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    transition: all .2s ease;
}
button.link:hover {
    border-bottom: 1px solid black;
}

.icon {
    min-width: 30px;
    min-height: 30px;
    fill: #8B4513;
}

.nav a {
    cursor: pointer;
    transition: all .2s ease;
}
.nav a:hover {
    font-size: 1rem;
}