* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body {
    overflow-y: scroll;
}
.pageWrapper {
	margin: 0 auto;
    background-color: #fafafa;
}
.contentWrapper {
    margin: 0 auto;
    max-width: var(--wrapper-width);
}
:root {
    --wrapper-width: 1440px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    font-size: 1rem;
    padding: 5px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
button .svgIcon {
    fill: #fff;
    transition: all .2s ease-in-out;
}

button.default {
    background-color: #0d85dc;
    color: #fff;
    fill: #fff;
}
button.default:hover {
    background-color: #1496f3;
}

button.transparent {
    background-color: transparent;
    border: 1px solid #0d85dc;
    color: #0d85dc;
}
button.transparent:hover {
    background-color: #0d85dc;
    color: #fff;
}

button.link {
    padding: 0;
    background-color: transparent;
    transition: all .2s ease-in-out;
}
button.link:hover {
    color: #0d85dc;
}
button.link .svgIcon {
    fill: #5a5e67;
}
button.link:hover .svgIcon {
    fill: #0d85dc;
}

button.white {
    background-color: white;
    padding: 10px 0;
    color: #0d85dc;
    transition: all .2s ease-in-out;
}
button.white:hover {
    color: white;
    background-color: #0d85dc;
}