.orderTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 150px;
    margin-bottom: 100px;
}
.orderTitle p {
    font-size: 3rem;
    font-weight: 600;
    font-family: "Cormorant Garamond", serif;
}
.orderSubtitle p {
    font-size: 1rem;
    line-height: 30px;
    font-weight: 400;
    color: gray;
}

.detailsStatusContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
}
.detailsStatusItem {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-content: center;
}
.statusIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.statusIcon {
    background-color: #D1A87D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 100px;
}
.statusName p {
    text-align: center;
    font-size: .875rem;
    color: gray;
    border-bottom: 3px solid gray;
    padding-bottom: 25px;
}
.statusIcon.statusActive {
    background-color: #8B4513;
}
.statusIcon.statusActive .icon {
    fill: white;
}
.statusName.statusActive p {
    color: #8B4513;
    border-bottom: 3px solid #8B4513;
    font-weight: 600;
}

.detailsPriceContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin-bottom: 100px;
}
.priceContainer,
.paymentContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid rgb(235, 235, 235);
    height: auto;
    width: calc((100% / 2) - 10px);
}
.priceContainer button {
    max-width: 180px;
}
.priceTitle p {
    font-size: 1.25rem;
    color: #8B4513;
    font-weight: 600;
}
.configItems {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.configItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.configItem p:nth-child(1) {
    font-size: .875rem;
    color: gray;
}
.configItem p:nth-child(2) {
    font-size: .875rem;
    font-weight: 600;
}
.priceNumber {
    margin-top: 10px;
    border-top: 1px solid #8B4513;
    padding-top: 10px;
}
.priceNumber p {
    color: #8B4513;
    font-weight: 600;
    font-size: 1.25rem;
}
.priceNumber p span {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #8B4513;
}

.paymentContainer {
    max-height: 315px;
}
.priceButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.priceButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #FFF5E8;
    border-radius: 5px;
    gap: 10px;
    flex: 1 1 calc(40% - 20px);
    cursor: pointer;
    transition: all .2s ease;
}
.priceButton:hover {
    background-color: #E8CEAF;
}

.orderContactsContainer {
    margin-bottom: 100px;
}
.orderContactsWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #FFF5E8;
    border-radius: 10px;
    padding: 25px;
}
.orderContactsTitle {
    font-size: 1.25rem;
    font-weight: 600;
}
.orderContatcsInput {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.orderContatcsInput p {
    color: gray;
}
.orderContatcsInput input,
.orderContatcsInput textarea {
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-size: 1rem;
    resize: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}
.orderContatcsInput textarea {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100px;
}
.orderContactsWrapper button {
    max-width: 150px;
}